/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Agui Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/

/* ---------------------------------------------------------------------------------------------------------------------
   ------------------- INICIO ITred Spa crear.css ----------------------------------------------------------------------
   --------------------------------------------------------------------------------------------------------------------- */



/* Contenedor del Contenido general del documento */
main{
    display: grid;                              /* Agrega un estilo de grid */
    grid-template-columns:   repeat(1, 2fr);    /* Define cantidad de columnas del grid */     
    padding: 2%;                                /* Agrega un padding al contenedor */
    gap: 2%;                                    /* Separación entre contenidos */
}

/* Contenedor del input del numero de columnas */
.input_columns-container {
    width: 100%;  /* Establece que el contenedor ocupe el 100% del ancho disponible */
    display: flex;  /* Hace que los elementos dentro del contenedor se distribuyan en línea */
    flex-direction: column;  /* Establece que los elementos dentro del contenedor se distribuyan en columnas */
    gap: 10px;  /* Define el espacio entre los elementos hijos del contenedor */
    grid-column: 1 / 3;  /* Define el tamaño del contenedor dentro de un grid */
    flex: 1;  /* Permite que el contenedor ocupe todo el espacio disponible en el eje vertical */
}

.input_columns-container input {
    width: 50%;  /* Establece que los inputs dentro del contenedor ocupen el 50% de su contenedor padre */
}

.input_columns-button {
    display: flex;  /* Hace que los elementos dentro del contenedor se distribuyan en línea */
    justify-content: center;  /* Centra los elementos horizontalmente dentro del contenedor */
    flex-direction: column;  /* Establece que los elementos dentro del contenedor se distribuyan en columnas */
    margin-top: 15px;  /* Establece un margen en la parte superior del contenedor */
    gap: 10px;  /* Define el espacio entre los elementos hijos del contenedor */
}

.input_columns-button input {
    width: 32px;  /* Establece que los inputs dentro del contenedor ocupen 32px de ancho */
}

.input_columns-button p {
    margin-right: 8px;  /* Establece un margen a la derecha para los elementos <p> dentro del contenedor */
}

.input_columns-button button {
    width: 150px;  /* Establece que los botones dentro del contenedor ocupen 150px de ancho */
}

.addColumn-cont {
    position: relative;  /* Establece que el contenedor tenga una posición relativa */
    display: flex;  /* Hace que los elementos dentro del contenedor se distribuyan en línea */
    align-items: center;  /* Centra los elementos verticalmente dentro del contenedor */
    justify-content: flex-end;  /* Alinea los elementos hacia el final del contenedor */
    margin-top:20px;  /* Establece un margen en la parte superior del contenedor */
    margin-bottom: 20px;  /* Establece un margen en la parte inferior del contenedor */
}


.buttonDiv {
    grid-column: 4/5;  /* Define el rango de columnas que ocupará el elemento dentro de un grid */
}

.detele-button {
    grid-column: 4/6;  /* Define el rango de columnas que ocupará el elemento dentro de un grid */
    grid-row: 1 / 2;  /* Define el rango de filas que ocupará el elemento dentro de un grid */
    background: none;  /* Establece que el fondo del botón sea transparente */
    border: none;  /* Elimina el borde del botón */
    padding: 0;  /* Elimina el relleno interno del botón */
    cursor: pointer;  /* Establece el cursor del ratón como un puntero */
}

.detele-button img {
    width: 30px;  /* Establece el ancho de la imagen dentro del botón */
    height: 30px;  /* Establece la altura de la imagen dentro del botón */
}

.m-t {
    margin-top: 20px;  /* Establece un margen en la parte superior del elemento */
}

.flex-center {
    position: relative;  /* Establece que el contenedor tenga una posición relativa */
    display: flex;  /* Hace que los elementos dentro del contenedor se distribuyan en línea */
    justify-content: center;  /* Centra los elementos horizontalmente dentro del contenedor */
}

#text-1 {
    position: absolute;  /* Establece que el elemento tenga una posición absoluta */
    top: -25px;  /* Establece la distancia del elemento desde la parte superior del contenedor padre */
}

#text {
    position: absolute;  /* Establece que el elemento tenga una posición absoluta */
    top: -25px;  /* Establece la distancia del elemento desde la parte superior del contenedor padre */
    right: 130px;  /* Establece la distancia del elemento desde el borde derecho del contenedor padre */
}

.Menu {
    display: inline-block;  /* Hace que el contenedor del menú se comporte como un bloque en línea, permitiendo que se alinee con otros elementos en línea, pero manteniendo las propiedades de bloque */
}

.menu_column:hover {
    ul {
        display: block;  /* Muestra los elementos <ul> cuando el usuario pasa el ratón sobre el contenedor .menu_column */
        background-color: red;  /* Cambia el color de fondo de los elementos <ul> a rojo */
    }
    background-color: red;  /* Cambia el color de fondo del contenedor .menu_column a rojo cuando el usuario pasa el ratón sobre él */
}

.ul-sub li:hover {
    background: rgb(253, 101, 101);  /* Cambia el color de fondo de los elementos <li> dentro de .ul-sub a un tono claro de rojo cuando el usuario pasa el ratón sobre ellos */
}

.menu_anchor:hover {
    background-color: rgb(251, 116, 116);  /* Cambia el color de fondo de los elementos con la clase .menu_anchor a un tono claro de rojo cuando el usuario pasa el ratón sobre ellos */
}

#menuTitle {
    margin-bottom: 20px;  /* Agrega un margen inferior de 20 píxeles al elemento con el id #menuTitle */
}


/* Contenedor inputs para nombres de columnas */
.input_names-container{
    display: flex;                  /* Agrega un estilo flexible */
    flex-direction: column;         /* Direccióin columna */
    grid-column: 1 / 3;             /* Define en qué columnas del grid se posiciona el contenedor*/
    position: relative;             /* Establece el método de posicionamiento del contenedor*/
    gap: 10px;                      /* Establece el espacio entre los elementos hijos del contenedor*/
}


.input_names-column{
    display: grid;                  /*Definimos la visualización de los elementos hijos como un grid*/
    grid-template-columns: repeat(4, 1fr);/*Definimos el tamañom de las columnas */
    row-gap: 10px;                  /*Establecemos el espacio entre las filas del grid*/    
}

.input_names-column p{              /**/
    grid-column: 1 / 3;             /*Definimos en que columnas del grid posicionamos los elementos <p>*/
}

.botonNombre {
    grid-row: 2/4;  /* Define el rango de filas que ocupará el elemento dentro de un grid */
}

.input_names-column input {          
    grid-column: 3 / 6;  /* Define el rango de columnas que ocupará el elemento dentro de un grid */
}

.input_names-column hr {
    grid-column: 1 / 6;  /* Define el rango de columnas que ocupará el elemento dentro de un grid */
}

.primer_hr {
    border: none;  /* Elimina el borde del hr */
    border-top: 1px solid #000000;  /* Establece un borde superior de 1px sólido */
    margin: 20px 0;  /* Establece un margen de 20px arriba y abajo */
    width: 100%;  /* Establece que el hr ocupe el 100% del ancho disponible */
}

.cont-sub {
    width: 100%;  /* Establece que el elemento ocupe el 100% del ancho disponible */
    grid-column: 1 / 6;  /* Define el rango de columnas que ocupará el elemento dentro de un grid */
    grid-row: 5 / 5;  /* Define el rango de filas que ocupará el elemento dentro de un grid */
}

.input_names-row-container {
    padding: 10px;  /* Establece un relleno interno de 10px */
    position: relative;  /* Establece que el elemento tenga una posición relativa */
    display: grid;  /* Establece que el elemento sea un contenedor grid */
    flex-direction: column;  /* Establece la dirección principal de los elementos en columnas */
    justify-content: flex-end;  /* Alinea los elementos hacia el final del contenedor en el eje vertical */
    gap: 10px;  /* Define el espacio entre los elementos hijos */
}

.input_names-row { 
    grid-column: 1 / 6;  /* Define el rango de columnas que ocupará el elemento dentro de un grid */
}

.container {
    display: flex;  /* Hace que los elementos dentro del contenedor se distribuyan en línea */
    height: 100vh;  /* Establece que el contenedor tenga una altura del 100% del viewport */
}

.container__div1, .container__div2 {
    flex: 1;  /* Hace que cada div ocupe la misma cantidad de espacio disponible */
    margin: 0 10px;  /* Establece un margen de 0 a los lados y 10px arriba y abajo */
    width: 50%;
}

.container__div2 {
    display: flex;  /* Hace que los elementos dentro de div2 se distribuyan en línea */
    flex-direction: column;  /* Establece que los elementos dentro de div2 se distribuyan en columnas */
}

.cont-add-subcolumn {
    width: 50%;  /* Establece que el elemento ocupe el 50% del ancho disponible */
    display: flex;  /* Hace que los elementos dentro del contenedor se distribuyan en línea */
    flex-direction: column;  /* Establece que los elementos dentro del contenedor se distribuyan en columnas */
}

.cont-add-sub {
    position: relative;  /* Establece que el elemento tenga una posición relativa */
    display: flex;  /* Hace que los elementos dentro del contenedor se distribuyan en línea */
    justify-content: flex-end;  /* Alinea los elementos hacia el final del contenedor en el eje horizontal */
    margin-top: 20px;  /* Establece un margen en la parte superior del contenedor */
}

.cont-add-sub input {
    width: 10%;  /* Establece que el input ocupe el 10% del ancho disponible */
}

.menu_example {
    display: flex;  /* Hace que los elementos dentro del contenedor se distribuyan en línea */
    flex-direction: row;  /* Establece que los elementos dentro del contenedor se distribuyan en filas */
}

.btn-example {
    background: blue;  /* Establece el color de fondo del botón */
    padding: 20px;  /* Establece un relleno interno de 20px */
    color: white;  /* Establece el color del texto */
}

.contenet-center {
    display: flex;  /* Hace que los elementos dentro del contenedor se distribuyan en línea */
    justify-content: center;  /* Centra los elementos horizontalmente dentro del contenedor */
}

.contenet-center p {
    margin-bottom: 20px;  /* Establece un margen en la parte inferior del párrafo */
}

.number-btn {
    position: relative;  /* Establece que el elemento tenga una posición relativa */
    left: 50%;  /* Desplaza el elemento hacia la derecha un 50% del ancho del contenedor padre */
}


input[type=number]::-webkit-inner-spin-button {
    opacity: 1;  /* Establece la opacidad del botón de giro interno del input number */
}

.estilos{
    display: none;  /* Oculta el contenedor de estilos por defecto */
    flex-direction: column;  
    position: fixed;  /* Mantiene el menú flotante */
    top: 50%;         /* Centra el menú verticalmente */
    left: 50%;        /* Centra el menú horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición exacta al centro */
    z-index: 1000;    /* Asegura que el menú esté sobre otros elementos */
    background-color: white; /* Fondo para mejorar la visibilidad */
    padding: 10px;    /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra para profundidad */
    padding-bottom: 50px; /* Asegura espacio suficiente en la parte inferior para el botón */
}
 
.estilos__titulo{
    display: flex;                  /* Establece el elemento como un contenedor flex */
    order: 0;                      /* Define el orden del elemento en el contenedor flex, aquí es el primer elemento */
    justify-content: center;       /* Centra el contenido horizontalmente dentro del contenedor */
    margin-bottom: 20px;           /* Agrega un margen inferior de 20 píxeles */
    font-size: 25px;               /* Establece el tamaño de la fuente a 25 píxeles */
    text-decoration-line: underline; /* Subraya el texto */
    
}
 
.estilos__contenedor1{
    display: flex;                  /* Establece el elemento como un contenedor flex */
    flex-direction: row;            /* Organiza los elementos hijos en una fila */
}
 
.fuentes__titulo, 
.letras__titulo, 
.color-letras__titulo, 
.color__titulo{
    display: flex;                  /* Establece los elementos como contenedores flex */
    font-size: 20px;                /* Establece el tamaño de la fuente a 20 píxeles */
    margin-bottom: 14px;            /* Agrega un margen inferior de 14 píxeles */
    justify-content: center;        /* Centra el contenido horizontalmente dentro del contenedor */
}
 
 
.fuentes__select{
    display: flex;                  /* Establece el elemento como un contenedor flex */
    justify-content: center;        /* Centra el contenido horizontalmente dentro del contenedor */
}
 
.letras__inputs{
    display: flex;                  /* Establece el elemento como un contenedor flex */
    justify-content: center;        /* Centra el contenido horizontalmente dentro del contenedor */
    flex-direction: column;         /* Organiza los elementos hijos en una columna */
}
 
.inputs__xd{
    display: flex;                  /* Establece el elemento como un contenedor flex */
    justify-content: center;        /* Centra el contenido horizontalmente dentro del contenedor */
    margin-bottom: 10px;            /* Agrega un margen inferior de 10 píxeles */
}
 
.input__estilo{
    margin-right: 12px;             /* Agrega un margen derecho de 12 píxeles */
}
 
.estilos__contenedor2{
    display: flex;                  /* Establece el elemento como un contenedor flex */
    flex-direction: row;            /* Organiza los elementos hijos en una fila */
}
 
 
.color__contenedor{
    display: flex;                  /* Establece el elemento como un contenedor flex */
    flex-direction: column;         /* Organiza los elementos hijos en una columna */
}
 
.color__inputs{
    display: flex;                  /* Establece el elemento como un contenedor flex */
    justify-content: center;        /* Centra el contenido horizontalmente dentro del contenedor */
    margin-bottom: 12px;            /* Agrega un margen inferior de 12 píxeles */
}
 
.input__hover,
.input-letras__label{
    margin-right: 10px;             /* Agrega un margen derecho de 10 píxeles a los elementos con clases `input__hover` y `input-letras__label` */
}
 
.color-letras__contenedor{
    display: flex;                  /* Establece el elemento como un contenedor flex */
    flex-direction: column;         /* Organiza los elementos hijos en una columna */
}
 
.contenedor__input-letras{
    display: flex;                  /* Establece el elemento como un contenedor flex */
    justify-content: center;        /* Centra el contenido horizontalmente dentro del contenedor */
    margin-bottom: 12px;            /* Agrega un margen inferior de 12 píxeles */
}
 
 
.contenedor__color-letras,
.contenedor__letras,
.contenedor__color,
.contenedor__fuentes{
    flex-basis: 50%;    /* Establece la base flexible de los elementos, ocupando el 50% del espacio del contenedor principal */
}



#cerrarMenu {
    position: absolute; /* Posicionamiento absoluto respecto a su contenedor más cercano con posición no estática */
    bottom: 10px; /* Posiciona el botón 10px arriba del fondo del contenedor #estilos */
    left: 50%; /* Inicia el botón en el centro horizontalmente */
    transform: translateX(-50%); /* Ajusta el botón hacia atrás a la mitad de su ancho, centrando exactamente */
    padding: 10px;
    border-radius: 5px; /* Opcional: Para bordes redondeados */
    border: 1px solid #ccc; /* Opcional: Para un borde sutil */
    background-color: #f5f5f5; /* Opcional: Color de fondo */
    cursor: pointer; /* Cambia el cursor a un puntero para indicar que es clickeable */
}
@media (max-width: 820px) {
    .container {
        display: flex;  /* Hace que los elementos dentro del contenedor se distribuyan en línea */
        flex-direction: column;  /* Establece que los elementos dentro del contenedor se distribuyan en columnas */
    }
}

/*
@media (max-width: 980px){
    .menu_example{
        position: inherit;
        width: 70%;
        height: 200px;
        grid-column: 3 / 5;
    }
}


@media (max-width: 780px){
    main{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .menu_example{
        height: 250px;
    }
}

@media (max-width: 480px){
    .menu_example{
        width: 100%;
        height: 150px;
    }
}
*/


.menu_preview.fullscreen {
    position: absolute;  /* Establece que el elemento tenga una posición absoluta con respecto a su primer ancestro posicionado */
    width: 100%;  /* Establece que el ancho del elemento sea el 100% del ancho del contenedor padre */
    height: 1000%;  /* Establece que la altura del elemento sea el 1000% del alto del contenedor padre */
    left: 0;  /* Establece que el elemento esté pegado al borde izquierdo del contenedor padre */
    top: 0;  /* Establece que el elemento esté pegado al borde superior del contenedor padre */
    background-color: rgb(65, 65, 65);  /* Establece el color de fondo del elemento como un tono gris oscuro */
    border: none;  /* Elimina cualquier borde alrededor del elemento */
    max-width: 100%;  /* Establece el ancho máximo del elemento como el 100% del ancho del contenedor padre */
    padding: 0;  /* Elimina cualquier relleno interno dentro del elemento */
    overflow: inherit;  /* Hereda el comportamiento de desbordamiento de su contenedor padre */
    margin-top: 0;  /* Elimina cualquier margen superior que pueda haber por defecto */
}


/* Navegador (Menu) principal, se encuentra en la previsualización  */
.menu_preview.fullscreen nav{
    width: 100%;                /* Ancho del navegador */
}

/* Lista principal del navegador, subElemento del navegador */
/* Se selecciona solo la lista 'ul' HIJA de .menu_preview, con '>' no se selecciona sub-elementos */
.menu_preview.fullscreen > nav > ul{
    display: flex;              /* Agrega un estilo flexible */
    justify-content: center;    /* Centra el contenido */
}


.footer {
    display: flex;           /* Utiliza Flexbox para el contenedor */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;     /* Centra los elementos verticalmente */
    padding: 10px;           /* Espaciado interno opcional */
    margin-top: 20px;       /* Margen arriba*/
}

.footer button {
    margin: 0 5px; /* Espaciado entre los botones */
}

/*Bloque de mensajes*/

/* Estilos básicos para el modal */
.modelo {
    display: none;  /* Oculta el modal por defecto */
    position: fixed;  /* Posiciona el modal de manera fija con respecto a la ventana del navegador */
    z-index: 1;  /* Establece la capa z-index para controlar el apilamiento de elementos; el modal estará en la capa más alta */
    left: 0;  /* Alinea el modal con el borde izquierdo de la ventana del navegador */
    top: 0;  /* Alinea el modal con el borde superior de la ventana del navegador */
    width: 100%;  /* Establece que el ancho del modal sea igual al ancho de la ventana del navegador */
    height: 100%;  /* Establece que la altura del modal sea igual a la altura de la ventana del navegador */
    overflow: auto;  /* Agrega desplazamiento automático si el contenido del modal es más grande que la ventana */
    background-color: rgba(0, 0, 0, 0.4);  /* Establece un fondo semitransparente de color negro para el modal */
}

.modelo-contenido {
    background-color: #fefefe;  /* Establece el color de fondo del contenido del modal a blanco */
    margin: 15% auto;  /* Establece un margen del 15% desde arriba y abajo y automáticamente a los lados para centrar verticalmente el modal */
    padding: 20px;  /* Agrega un relleno interno de 20 píxeles al contenido del modal */
    border: 1px solid #888;  /* Establece un borde sólido de 1 píxel con color gris para el contenido del modal */
    width: 80%;  /* Establece que el ancho del contenido del modal sea el 80% del ancho disponible */
    max-width: 300px;  /* Establece un ancho máximo de 300 píxeles para el contenido del modal */
    text-align: center;  /* Centra el texto dentro del contenido del modal */
    border-radius: 10px;  /* Agrega esquinas redondeadas con un radio de 10 píxeles al contenido del modal */
}

.modelo-contenido button {
    margin: 10px;  /* Agrega un margen de 10 píxeles alrededor de los botones dentro del contenido del modal */
    padding: 10px 20px;  /* Agrega un relleno interno de 10 píxeles arriba y abajo y 20 píxeles a los lados para los botones */
    border: none;  /* Elimina los bordes alrededor de los botones */
    border-radius: 5px;  /* Agrega esquinas redondeadas con un radio de 5 píxeles a los botones */
    cursor: pointer;  /* Cambia el cursor a un puntero (mano) cuando el usuario pasa el ratón sobre los botones */
}


.btnSi {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color del texto blanco */
}

.btnNo {
    background-color: #f44336; /* Color de fondo rojo */
    color: white; /* Color del texto blanco */
}

.menu_preview {
    grid-column: 3 / 5; /* Ubicación en la cuadrícula: de la columna 3 a la columna 5 */
    border: solid 1px; /* Borde sólido de 1 píxel */
    padding: 2%; /* Relleno interno del 2% del ancho del contenedor */
    max-width: 600px; /* Ancho máximo del contenedor */
    min-height: 50%; /* Altura mínima del contenedor del 50% */
    max-height: 100%; /* Altura máxima del contenedor del 100% */
}

.Menu {
    width: 100%; /* Ancho del elemento .Menu del 100% del ancho disponible */
}

.ul-columnas {
    display: flex; /* Utiliza flexbox para organizar los elementos hijos */
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan (wrap) a la siguiente línea */
}

.menu_column {
    flex: 1 1 auto; /* Flex: crecimiento, encogimiento y tamaño inicial automático */
    min-width: 0; /* Permite que los elementos se reduzcan más allá de su tamaño mínimo */
    white-space: nowrap; /* Evita que el texto se rompa y se mantenga en una sola línea */
    font-size: clamp(10px, 1.5vw, 16px); /* Tamaño de fuente adaptable con un mínimo de 10px, un máximo de 1.5vw y un tope de 16px */
}

.menu_anchor {
    display: block;  /* Hace que los elementos con clase .menu_anchor sean elementos de bloque */
    color: white;  /* Color del texto en blanco */
    text-decoration: none;  /* Elimina el subrayado del texto */
    text-align: center;  /* Centra el texto dentro del elemento */
    padding: 10px;  /* Espacio interno de 10 píxeles alrededor del contenido del elemento */
    background-color: blue;  /* Color de fondo azul para los elementos */
}

.ul-sub {
    list-style: none;  /* Elimina los estilos de viñeta de la lista */
    padding: 0;  /* Elimina el relleno interno de la lista */
    margin: 0;  /* Elimina los márgenes externos de la lista */
    display: none;  /* Oculta los submenús por defecto */
}

.menu_column:hover .ul-sub {
    display: block;  /* Muestra los submenús cuando el usuario pasa el ratón sobre .menu_column */
}

.menu_column:hover{
    background-color: red;/*Cambia a color fondo a rojo*/
    a {
       background-color: red; /*Cambia a color fondo a rojo*/
    }
 }
 
 .menu_column a:hover{
    background-color: rgb(255, 103, 103); /*Cambia a color fondo a rosado*/
}
 

.btn-modifcar-boton{
    z-index: 99999;
    position: absolute;
    bottom: 2px;
    padding: 10px;
    border: 1px solid;
    border-radius: 15px;
    width: 750px;
    height: 30%;
    background-color: white;
    display: none;
 }
 
 .btn-modifcar-texto{
    z-index: 99999;
    position: absolute;
    bottom: 2px;
    padding: 10px;
    border: 1px solid;
    border-radius: 15px;
    width: 750px;
    height: 30%;
    background-color: white;
    display: none;
 }
 
 /* Contenedor de los botones de modificación */
 .container-btn-modificar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 20px 0px 20px;
 }
 
 .container-btn-modificar_texto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 1px 0px 1px;
 }
 
 /* Estilo de cada botón dentro del menú de modificación de botones */
 .btn__style {
    border: 1px solid;
    width: 110px;
    height: 70px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Para asegurar que el texto esté centrado */
 }
 
 /* Estilo de cada botón dentro del menú de modificación de texto */
 .btn__style_texto {
    border: 1px solid;
    width: 98px;
    height: 70px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 
 /* Estilo al pasar el ratón sobre los botones de modificación */
 .btn__style:hover,
 .btn__style_texto:hover {
    background-color: green;
    cursor: pointer;
 }
 
 /* Contenedor del título dentro del menú de modificación */
 .container-title {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Para alinear verticalmente los elementos */
 }
 
 /* Estilo del título dentro del menú de modificación */
 .title__menu {
    display: flex;
    justify-content: center;
    flex: 1; /* Permitir que el elemento ocupe todo el espacio disponible */
    text-align: center; /* Asegura que el texto esté centrado dentro del div */
 }
 
 /* Estilo del botón de cerrar menú */
 .cerrar__menu,
 .cerrar_menu_texto {
    padding: 10px;
    border: solid 1px;
    border-radius: 50%; /* Cambia esto a 50% para un círculo perfecto */
    width: 8px; /* Ancho fijo para mantener el círculo */
    height: 8px; /* Alto fijo para mantener el círculo */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center; /* Asegura que el texto esté centrado */
 }
 
 /* Estilo al pasar el ratón sobre el botón de cerrar menú */
 .cerrar__menu:hover,
 .cerrar_menu_texto:hover {
    background-color: red;
    cursor: pointer;
 }
 
 /* Estilo de los select dentro del menú de modificación de texto */
 .modificar__tipoletra,
 .modificar__tamanoletra {
    width: 300px;
    height: 30px;
    margin-left: 20px;
    font-size: 20px;
    text-align: center;
 }
 
 .modificar__tamanoletra {
    width: 100px;
 }
 
 /* Estilo del título dentro del menú de modificación */
 .title__menu {
    font-size: 25px;
    margin-bottom: 20px;
 }

/* Estilos para el grupo de radio buttons */
.radio-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

.radio-item {
    display: flex;
    align-items: center;
}

.radio-item input {
    margin-right: 5px;
    transform: scale(0.8); /* Hace el radio button más pequeño */
}

.radio-item label {
    font-size: 12px; /* Ajusta el tamaño de la fuente del label */
}

/* Estilos para las entradas y el botón de creación del menú */
.input_columns-button .flex-center {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="submit"] {
    margin-top: 20px; /* Espacio superior para el botón de envío */
    padding: 10px 20px; /* Relleno interno del botón */
    background-color: #007BFF; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor de mano al pasar sobre el botón */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón por encima */
}


.MenuSeleccionado{
    display: none;
}
 
 
.seleccionado{
    background-color: white;
    position: absolute;
    top: 40px;
    height: 83%;
    width: 50%;
    border: 1px solid;
    border-radius: 11px;
}
 
.seleccionado__container-title{
    display: flex;
    justify-content: space-between;
    align-items: center; /* Para alinear verticalmente los elementos */   
}
 
.seleccionado_titulo{
    display: flex;
    justify-content: center;
    flex: 1; /* Permitir que el elemento ocupe todo el espacio disponible */
    text-align: center; /* Asegura que el texto esté centrado dentro del div */
    font-size: 19px;
}
 
.seleccionado__cerrar{
    padding: 9px;
    border: solid 1px;
    border-radius: 50%;
    width: 3px;
    height: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 5px;
    margin-top: 5px;
}
 
.seleccionado__contenedor{
    display: flex;
    flex-direction: column;
    margin: 30px;
}
 

/* Define la animación de escalado */
@keyframes scaleAnimation {
    0%, 100% {
        transform: scale(1);  /* Escala normal del botón */
    }
    50% {
        transform: scale(1.1);  /* Escala el botón al 120% de su tamaño original */
    }
}


/* ---------------------------------------------------------------------------------------------------------------------
   -------------------------------------- FIN ITred Spa crear.css ------------------------------------------------------
   --------------------------------------------------------------------------------------------------------------------- */

/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Agui Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/